#barraaceptacion {
    display: none;
    position: fixed;
    left:0px;
    right:0px;
    bottom:0px;
    width:100%;
    height: 7rem;
    text-align:right;
    min-height:7rem;
    color:#fff;
    z-index:99999;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-size: 12px;
    display: block;
    background-color: #00000000;
    pointer-events: none;
    z-index:1;
    height:7rem;
}

.inner {
    width:100%;
    position:absolute;
    position: relative;
    top: 25%;
    transform: translateY(-25%);
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#barranegacion {
    display: none;
    position:fixed;
    left:0px;
    right:0px;
    top:0px;
    width:100%;
    height: 3rem;
    min-height:40px;
    background-color: #55555555;
    color:#fff;
    z-index:99999;
}
h1 {
  font-size: 2em;
  font-weight: bold;
}

#demo-show-snackbar2 {
    pointer-events: auto;
    margin-right:2rem;
    margin-bottom:2rem;
}

#flotant-icon {
    pointer-events: auto;
    color:#ffffff;
}
