*{
	margin: 0;
	padding: 0;
}
/*Menú de navegación simple*/
.mdl-layout__header--transparent {
	background: url('../img/bg-header.png') center / cover;
  }
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
	color: white;
}

/*Carta de Imágen*/
.demo-card-image.mdl-card {
	margin-top: 2.5em;
	margin-left: 2.5em;
	float: left;
	width: 256px;
	height: 256px;
	background: url('../img/ada-lovelace.jpg') center / cover;
  }
  .demo-card-image > .mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

/*Texto de Articulo*/
.description {
	width: calc(100% - 250px - 8em);
	float: left;
	margin-left: 2.5em;
	margin-top: 2.5em;
}

#articleTitle {
	font-size: 2.5em;
	font-weight: bold;
}

.mdl-navigation__link:hover {
	color: #e7b9ff;
}

#selected-page {
	color: #b388ff;
	font-weight: bold;
}
