*{
	margin: 0;
	padding: 0;
}
/*ANT04X*/
/*Menú de navegación simple*/
.mdl-layout__header {
	/*background: url('../img/bg-header.png') center / cover;*/
	background-color: rgba(131, 131, 131, 0.2);
}
  .demo-layout-transparent .mdl-layout__header,
  .demo-layout-transparent .mdl-layout__drawer-button {
	color: white;
}

/*Carta de Imágen*/
.demo-card-image.mdl-card {
	margin-top: 2.5em;
	margin-left: 2.5em;
	float: left;
	width: 256px;
	height: 256px;
	background: url('../img/grace-hopper.jpg') center / cover;
  }
  .demo-card-image > .mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.2);
  }
  .demo-card-image__filename {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}

/*Texto de Articulo*/
.description {
	width: calc(100% - 250px - 8em);
	float: left;
	margin-left: 2.5em;
	margin-top: 2.5em;
}

#articleTitle {
	font-size: 2.5em;
	font-weight: bold;
}

.mdl-navigation__link:hover {
	color: #e7b9ff;
}

#selected-page {
	color: #b388ff;
	font-weight: bold;
}

body {
	background: linear-gradient(45deg, #8187ff, #ff5bff);
	background-size: 400% 400%;
	-webkit-animation: AnimationName 5s ease infinite;
	-moz-animation: AnimationName 5s ease infinite;
	-o-animation: AnimationName 5s ease infinite;
	animation: AnimationName 5s ease infinite;
}

.mdl-mini-footer {
	background-color: rgba(131, 131, 131, 0.5);
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.description::first-line {
	font-family: 'Pacifico', cursive;
	color: #880e4f;
}
